<!--=====================================
Home Promotions
======================================-->

@if (!preload) {
  <div class="ps-promotions">
    <div class="container">
      <div class="row">
        @for (banner of banner_default; track banner; let i = $index) {
          <div class="col-md-6 col-12">
            <a class="ps-collection" routerLink="product/{{ url[i] }}">
              <img src="{{ path }}img/products/{{ category[i] }}/default/{{ banner }}" alt="" />
            </a>
          </div>
        }
      </div>
    </div>
  </div>
}
<!-- End Home Promotions-->

<!--=====================================
  Preload
  ======================================-->
@if (preload) {
  <div class="d-flex justify-content-center">
    <!-- <div class="spinner-border text-muted my-5"></div> -->
    <div class="container">
      <div class="ph-item border-0">
        <div class="ph-col-6">
          <div class="ph-picture"></div>
        </div>
        <div class="ph-col-6">
          <div class="ph-picture"></div>
        </div>
      </div>
    </div>
  </div>
}
