<!--=====================================
Profile
======================================-->

@if (!preload) {
  <aside class="ps-block--store-banner">
    <div class="ps-block__user">
      <div class="ps-block__user-avatar">
        <img src="{{ picture }}" />
        <div class="br-wrapper">
          @if (!method) {
            <button
              class="btn btn-primary btn-lg rounded-circle"
              data-target="#newPicture"
              data-toggle="modal"
            >
              <i class="fas fa-pencil-alt"></i>
            </button>
          }
        </div>
      </div>
      <div class="ps-block__user-content text-center text-lg-left">
        <h2 class="text-white">{{ displayName }}</h2>
        <p><i class="fas fa-user"></i> {{ username }}</p>
        <p><i class="fas fa-envelope"></i> {{ email }}</p>
        @if (!method) {
          <button class="btn btn-warning btn-lg" data-target="#newPassword" data-toggle="modal">
            Change Password
          </button>
        }
      </div>
      @if (vendor) {
        <div class="row ml-lg-auto pt-5">
          <div class="col-lg-3 col-6">
            <div class="text-center">
              <a href="account/orders">
                <h1><i class="fas fa-shopping-cart text-white"></i></h1>
                <h4 class="text-white">
                  Orders
                  <span class="badge badge-secondary rounded-circle">{{ ordersPending }}</span>
                </h4>
              </a>
            </div>
          </div>
          <!-- box /-->
          <div class="col-lg-3 col-6">
            <div class="text-center">
              <a href="account/my-store">
                <h1><i class="fas fa-shopping-bag text-white"></i></h1>
                <h4 class="text-white">
                  Products
                  <span class="badge badge-secondary rounded-circle">{{ store[0].products }}</span>
                </h4>
              </a>
            </div>
          </div>
          <!-- box /-->
          <div class="col-lg-3 col-6">
            <div class="text-center">
              <a href="account/disputes">
                <h1><i class="fas fa-bell text-white"></i></h1>
                <h4 class="text-white">
                  Disputes
                  <span class="badge badge-secondary rounded-circle">{{ disputes.length }}</span>
                </h4>
              </a>
            </div>
          </div>
          <!-- box /-->
          <div class="col-lg-3 col-6">
            <div class="text-center">
              <a href="account/messages">
                <h1><i class="fas fa-comments text-white"></i></h1>
                <h4 class="text-white">
                  Messages
                  <span class="badge badge-secondary rounded-circle">{{ messages.length }}</span>
                </h4>
              </a>
            </div>
          </div>
          <!-- box /-->
        </div>
      }
    </div>
  </aside>
}
<!-- s -->

<!--=====================================
  Preload
  ======================================-->
@if (preload) {
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-muted my-5"></div>
  </div>
}

<!--=====================================
  Wishlist
  ======================================-->

@if (!preload && accountUrl == undefined) {
  <app-account-wishlist [childItem]="id"></app-account-wishlist>
}

<!--=====================================
  My Shopping
  ======================================-->

@if (!preload && accountUrl == 'my-shopping') {
  <app-account-my-shopping [childItem]="username"></app-account-my-shopping>
}

<!--=====================================
  New Store
  ======================================-->
@if (!preload && accountUrl == 'new-store') {
  <app-account-new-store [childItem]="username"> </app-account-new-store>
}

<!--=====================================
  My Store
  ======================================-->
@if (!preload && accountUrl == 'my-store') {
  <app-account-my-store [childItem]="username"> </app-account-my-store>
}

<!--=====================================
  My Sales
  ======================================-->
@if (store.length > 0) {
  <div>
    @if (!preload && accountUrl == 'my-sales') {
      <app-account-my-sales [childItem]="store[0].store"></app-account-my-sales>
    }
  </div>
}

<!--=====================================
  Orders
  ======================================-->

@if (store.length > 0) {
  <div>
    @if (!preload && accountUrl == 'orders') {
      <app-account-orders [childItem]="store[0].store"></app-account-orders>
    }
  </div>
}

<!--=====================================
  Disputes
  ======================================-->
@if (store.length > 0) {
  <div>
    @if (!preload && accountUrl == 'disputes') {
      <app-account-disputes [childItem]="store[0].store"></app-account-disputes>
    }
  </div>
}

<!--=====================================
  Messages
  ======================================-->
@if (store.length > 0) {
  <div>
    @if (!preload && accountUrl == 'messages') {
      <app-account-messages [childItem]="store[0].store"></app-account-messages>
    }
  </div>
}

<!--=====================================
  MODAL PARA ESCRIBIR LA NUEVA CONTRASEÑA
  ======================================-->

<div class="modal" id="newPassword">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Password</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form class="ps-form--account ps-tab-root needs-validation" novalidate>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Input your new password"
              name="password"
              #password
              minlength="4"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}"
              data-toggle="tooltip"
              title="Enter your password with at least 4 characters and must include uppercase, lowercase letters and numbers"
              (change)="validate(password)"
              required
            />

            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill in this field correctly.</div>
          </div>

          <div class="form-group submtit">
            <button
              type="button"
              (click)="newPassword(password.value)"
              class="ps-btn ps-btn--fullwidth"
            >
              Submit
            </button>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--=====================================
    MODAL PARA CAMBIAR LA FOTO
    ======================================-->

<div class="modal" id="newPicture">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Picture</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form class="ps-form--account ps-tab-root">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="customFile"
              accept="image/*"
              maxSize="2000000"
              (change)="validateImage($event)"
            />

            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>

          <figure class="text-center py-3">
            <img
              src="{{ picture }}"
              class="img-fluid rounded-circle changePicture"
              style="width: 150px"
            />
          </figure>

          <div class="form-group submtit">
            <button type="button" (click)="uploadImage()" class="ps-btn ps-btn--fullwidth">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
